<%= panel tag: :aside, context: :primary do %>
   <div class='panel-heading'><h4 class="panel-title">Claim Information</h4></div>
    <div class='panel-body'>
      <div class="row">
        <%= referral_label(["Service:", "Claim:", "Insured:", "Allegation:"]) %>
        <%= referral_value([@claim.service, @claim.number, @claim.insured, @claim.case], "4") %>
      </div>
    </div>
<% end %>
