<%= panel tag: :aside, context: :primary do %>
   <div class='panel-heading'><h4 class="panel-title">Notes</h4></div>
    <div class='panel-body'>
       <p><%= simple_format(@claim.notes) %></p>
    </div>
<% end %>
