<div class="jumbotron">
  <div class='col-offset-3 col-md-9'>
    <h1>GCS</h1>
  	<p>Welcome to GCS IME Application!</p>
  </div>
  <div class="row">
  <div class="col-xs-6">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default' %> 
  </div>
</div>
</div>
    
