<h1>Report</h1>

<div id="report_content" contenteditable="true" style="overflow: auto;" data-mercury="full">
	<%= simple_format(@report.content) %>
</div>

<p><%= link_to "Edit Report", "/editor" + request.path, id: "edit_link", data: { save_url: mercury_update_claim_report_path(@claim, @report) } %></p>
