/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/
/*@import "sb-admin.min.css";*/
@import "rails_bootstrap_forms";
@import "bootstrap.min.css";
@import "bootstrap-switch.min.css";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";

.modal-content form {
	padding: 20px;
}
.modal-content .actions {
	margin-bottom: 40px;
}

.panel-body {
	padding: 0px 0px 0px 15px; 
}