// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.handle {
  font-size: 12px;
  color: #777;
  cursor: move;
}

.placeholder {
  background-color: #f3f3f3;
  padding-right:10px;
  padding-left:10px;
  text-align:center;
  width:50px;
  height:60px;
}
