/*@import "bootstrap-sprockets";
@import "bootstrap";*/
@import "bootstrap-switch.min.css";

.modal-content form {
	padding: 20px;
}
.modal-content .actions {
	margin-bottom: 40px;
}

.panel-body {
	padding: 0px 15px 0px 15px; 
}